<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:activityandroid="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdeoliveira.maps">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_iconfinder_sport_badges_07_2064039"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_iconfinder_sport_badges_07_2064039"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maps">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".User">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity">

        </activity>

        <service
            android:name=".services.TrackingService"
            android:foregroundServiceType="location" />
    </application>

</manifest>